Repository metaplex-foundation/metaplex-program-library, changes with the owners that CODEOWNERS names for each.
All owners: @metaplex-foundation/protocol, @kespinola, @staccDOTsol

CODEOWNERS:

* @metaplex-foundation/protocol

/auction-house/ @kespinola
/auctioneer/ @kespinola

/hydra/ @staccDOTsol

move file to higher precdence location
  .github/CODEOWNERS
Owners: @metaplex-foundation/protocol

Rename UpdateArgs to indicate updating as a role
  token-metadata/program/src/instruction/metadata.rs
  token-metadata/program/src/processor/metadata/update.rs
  token-metadata/program/tests/unverify.rs
  token-metadata/program/tests/update.rs
Owners: @metaplex-foundation/protocol

Regenerate IDL and SDK
  token-metadata/js/idl/mpl_token_metadata.json
  token-metadata/js/src/generated/instructions/Update.ts
  token-metadata/js/src/generated/types/UpdateArgs.ts
Owners: @metaplex-foundation/protocol

Fix toolchain env variable name in action
  .github/actions/build-program/action.yml
Owners: @metaplex-foundation/protocol

Fix toolchain env variable name in action
  .github/actions/build-program/action.yml
Owners: @metaplex-foundation/protocol

Fix isSigner for leafOwner account of transfer instruction
  bubblegum/js/idl/bubblegum.json
  bubblegum/js/src/generated/instructions/transfer.ts
  bubblegum/program/src/lib.rs
Owners: @metaplex-foundation/protocol

fix clippy lint
  token-metadata/program/src/utils/programmable_asset.rs
Owners: @metaplex-foundation/protocol

Fix toolchain env variable name in action (#1077)
  .github/actions/build-program/action.yml
Owners: @metaplex-foundation/protocol

Space savings
  token-metadata/program/src/instruction/metadata.rs
  token-metadata/program/src/processor/metadata/update.rs
  token-metadata/program/src/state/metadata.rs
Owners: @metaplex-foundation/protocol

Set primary sale happened value (#1073)
  token-metadata/js/test/create.test.ts
  token-metadata/program/src/processor/metadata/create.rs
Owners: @metaplex-foundation/protocol

Allow passing in current token standard
  token-metadata/program/src/processor/metadata/update.rs
Owners: @metaplex-foundation/protocol

Clarify comments and reorder account validations
  token-metadata/program/src/instruction/mod.rs
  token-metadata/program/src/processor/metadata/update.rs
Owners: @metaplex-foundation/protocol

Minor comment update
  token-metadata/program/src/processor/metadata/update.rs
Owners: @metaplex-foundation/protocol

Minor description change to generated IDL/SDK
  token-metadata/js/idl/mpl_token_metadata.json
  token-metadata/js/src/generated/instructions/Update.ts
Owners: @metaplex-foundation/protocol

Bubblegum add test for two creators
  bubblegum/js/tests/main.test.ts
Owners: @metaplex-foundation/protocol

Regenerate IDL
  bubblegum/js/idl/bubblegum.json
Owners: @metaplex-foundation/protocol

Add more BPF tests
  token-metadata/program/tests/update.rs
Owners: @metaplex-foundation/protocol

Use internal update args again to destructure only once
  token-metadata/program/src/instruction/metadata.rs
  token-metadata/program/src/processor/metadata/update.rs
  token-metadata/program/src/state/metadata.rs
Owners: @metaplex-foundation/protocol

Add missing dev dependency and update yarn lock
  bubblegum/js/package.json
  bubblegum/js/yarn.lock
Owners: @metaplex-foundation/protocol

auctioneer: bump auction house version
  auctioneer/program/Cargo.lock
Owners: @kespinola

auctioneer: fix clippy lint
  auctioneer/program/src/lib.rs
Owners: @kespinola

chore: Release mpl-auctioneer version 0.2.2
  auctioneer/program/Cargo.lock
  auctioneer/program/Cargo.toml
Owners: @kespinola

Remove logs on transfer
  token-metadata/program/src/processor/metadata/transfer.rs
  token-metadata/program/src/utils/programmable_asset.rs
Owners: @metaplex-foundation/protocol

Remove logs on transfer (#1080)
  token-metadata/program/src/processor/metadata/transfer.rs
  token-metadata/program/src/utils/programmable_asset.rs
Owners: @metaplex-foundation/protocol

Changes to new `Update` instruction (#1058)
  token-metadata/Cargo.lock
  token-metadata/js/idl/mpl_token_metadata.json
  token-metadata/js/src/generated/instructions/Update.ts
  token-metadata/js/src/generated/types/DelegateArgs.ts
  token-metadata/js/src/generated/types/MetadataDelegateRole.ts
  token-metadata/js/src/generated/types/RevokeArgs.ts
  token-metadata/js/src/generated/types/UpdateArgs.ts
  token-metadata/js/test/update.test.ts
  token-metadata/program/Cargo.toml
  token-metadata/program/src/instruction/delegate.rs
  token-metadata/program/src/instruction/metadata.rs
  token-metadata/program/src/instruction/mod.rs
  token-metadata/program/src/processor/delegate/delegate.rs
  token-metadata/program/src/processor/delegate/revoke.rs
  token-metadata/program/src/processor/metadata/update.rs
  token-metadata/program/src/processor/verification/collection.rs
  token-metadata/program/src/state/metadata.rs
  token-metadata/program/src/state/programmable.rs
  token-metadata/program/src/utils/mod.rs
  token-metadata/program/tests/unverify.rs
  token-metadata/program/tests/update.rs
  token-metadata/program/tests/update_with_old_lib.rs
  token-metadata/program/tests/utils/digital_asset.rs
  token-metadata/program/tests/verify.rs
Owners: @metaplex-foundation/protocol

fix creator hash js fn for bubblegum (#1064)
  bubblegum/js/idl/bubblegum.json
  bubblegum/js/package.json
  bubblegum/js/src/mpl-bubblegum.ts
  bubblegum/js/tests/main.test.ts
  bubblegum/js/yarn.lock
Owners: @metaplex-foundation/protocol

finish merge
  token-metadata/program/src/state/metadata.rs
Owners: @metaplex-foundation/protocol

regenerate JS lib
  token-metadata/js/idl/mpl_token_metadata.json
  token-metadata/js/src/generated/errors/index.ts
  token-metadata/js/src/generated/instructions/CreateMasterEdition.ts
  token-metadata/js/src/generated/instructions/CreateMetadataAccount.ts
  token-metadata/js/src/generated/instructions/CreateMetadataAccountV2.ts
  token-metadata/js/src/generated/instructions/DeprecatedCreateMasterEdition.ts
  token-metadata/js/src/generated/instructions/DeprecatedMintPrintingTokens.ts
  token-metadata/js/src/generated/instructions/DeprecatedMintPrintingTokensViaToken.ts
  token-metadata/js/src/generated/instructions/DeprecatedSetReservationList.ts
  token-metadata/js/src/generated/instructions/UpdateMetadataAccount.ts
  token-metadata/js/src/generated/types/CreateMetadataAccountArgs.ts
  token-metadata/js/src/generated/types/CreateMetadataAccountArgsV2.ts
  token-metadata/js/src/generated/types/MintPrintingTokensViaTokenArgs.ts
  token-metadata/js/src/generated/types/SetReservationListArgs.ts
  token-metadata/js/src/generated/types/UpdateMetadataAccountArgs.ts
  token-metadata/js/src/generated/types/index.ts
Owners: @metaplex-foundation/protocol

Auction House js fixes
  Anchor.toml
  auction-house/accounts.ts
  auction-house/auction-house-cli.ts
  auction-house/auction_house.json
  auction-house/lib.rs
Owners: @metaplex-foundation/protocol, @kespinola

relocate
  auction-house/accounts.ts
  auction-house/auction-house-cli.ts
  auction-house/auction_house.json
  auction-house/lib.rs
Owners: @kespinola

relocate 2
  auction-house/cli/src/auction-house-cli.ts
  auction-house/cli/src/helpers/accounts.ts
  auction-house/js/idl/auction_house.json
  auction-house/program/src/lib.rs
Owners: @kespinola

constants
  auction-house/cli/src/helpers/constants.ts
Owners: @kespinola

Add token amount check to Update and more tests
  token-metadata/program/src/processor/metadata/update.rs
  token-metadata/program/tests/update.rs
Owners: @metaplex-foundation/protocol

Add token amount check to Update and more tests (#1082)
  token-metadata/program/src/processor/metadata/update.rs
  token-metadata/program/tests/update.rs
Owners: @metaplex-foundation/protocol

Rename update args variant to remove abbreviation
  token-metadata/program/src/instruction/metadata.rs
  token-metadata/program/src/processor/metadata/update.rs
  token-metadata/program/src/state/metadata.rs
  token-metadata/program/tests/update.rs
Owners: @metaplex-foundation/protocol

Renegerate IDL and JS SDK
  token-metadata/js/idl/mpl_token_metadata.json
  token-metadata/js/src/generated/types/UpdateArgs.ts
Owners: @metaplex-foundation/protocol

Add ts test with V2 args
  token-metadata/js/test/setup/txs-init.ts
  token-metadata/js/test/update.test.ts
Owners: @metaplex-foundation/protocol

Add token-metadata Update ts test for V2 args (#1083)
  token-metadata/js/idl/mpl_token_metadata.json
  token-metadata/js/src/generated/types/UpdateArgs.ts
  token-metadata/js/test/setup/txs-init.ts
  token-metadata/js/test/update.test.ts
  token-metadata/program/src/instruction/metadata.rs
  token-metadata/program/src/processor/metadata/update.rs
  token-metadata/program/src/state/metadata.rs
  token-metadata/program/tests/update.rs
Owners: @metaplex-foundation/protocol

wrap up auction-house
  auction-house/cli/package.json
  auction-house/cli/src/auction-house-cli.ts
Owners: @kespinola

Adding edition_marker_v2.
  token-metadata/program/src/state/edition_marker_v2.rs
Owners: @metaplex-foundation/protocol
