Repository metaplex-foundation/metaplex-program-library, changes with the owners that CODEOWNERS names for each.
All owners: @metaplex-foundation/protocol, @ohaddahan, @kespinola, @staccDOTsol, @nilz3ro

CODEOWNERS:

* @metaplex-foundation/protocol

/auction-house/ @ohaddahan @kespinola
/auctioneer/ @ohaddahan @kespinola

/hydra/ @staccDOTsol

/trifle/ @nilz3ro

chore: Release
  token-metadata/Cargo.lock
  token-metadata/program/Cargo.toml
Owners: @metaplex-foundation/protocol

bump js version
  token-metadata/js/idl/mpl_token_metadata.json
  token-metadata/js/package.json
Owners: @metaplex-foundation/protocol

Use a minimal sale delegate rule set for Auction House tests.
  auction-house/program/Cargo.lock
  auction-house/program/Cargo.toml
  auction-house/program/tests/cancel.rs
  auction-house/program/tests/execute_sale.rs
  auction-house/program/tests/sell.rs
  auction-house/program/tests/utils/helpers.rs
  auction-house/program/tests/utils/setup_functions.rs
Owners: @ohaddahan, @kespinola

Downloading extraneous programs.
  .github/actions/build-program/action.yml
Owners: @metaplex-foundation/protocol

Update `cancel_pnft_success` test.
  auction-house/program/tests/cancel.rs
Owners: @ohaddahan, @kespinola

Update Token Metadata dep to 1.9.0.
  auction-house/program/Cargo.lock
  auction-house/program/Cargo.toml
  auctioneer/program/Cargo.lock
  fixed-price-sale/program/Cargo.lock
Owners: @ohaddahan, @kespinola, @metaplex-foundation/protocol

wip: add rule set to account
  .gitignore
  candy-machine-core/js/.ammanrc.js
  candy-machine-core/js/idl/candy_machine_core.json
  candy-machine-core/js/src/generated/instructions/initializeV2.ts
  candy-machine-core/js/src/generated/instructions/mintV2.ts
  candy-machine-core/js/src/generated/instructions/setTokenStandard.ts
  candy-machine-core/js/test/initialize-v2.test.ts
  candy-machine-core/js/test/mint-v2.test.ts
  candy-machine-core/js/test/set-token-standard.test.ts
  candy-machine-core/js/test/setup/index.ts
  candy-machine-core/js/test/setup/txs-init.ts
  candy-machine-core/program/Cargo.lock
  candy-machine-core/program/Cargo.toml
  candy-machine-core/program/src/constants.rs
  candy-machine-core/program/src/instructions/initialize_v2.rs
  candy-machine-core/program/src/instructions/mint.rs
  candy-machine-core/program/src/instructions/mint_v2.rs
  candy-machine-core/program/src/instructions/set_token_standard.rs
  candy-machine-core/program/src/state/candy_machine.rs
Owners: @metaplex-foundation/protocol

chore: Release mpl-candy-machine-core version 0.2.0
  candy-machine-core/program/Cargo.lock
  candy-machine-core/program/Cargo.toml
Owners: @metaplex-foundation/protocol

wip: update program version
  candy-machine-core/js/idl/candy_machine_core.json
  candy-machine-core/js/package.json
Owners: @metaplex-foundation/protocol

wip: bump version
  candy-machine-core/js/package.json
Owners: @metaplex-foundation/protocol

Updated autogenerated code
  auction-house/js/src/generated/instructions/auctioneerExecutePartialSale.ts
  auction-house/js/src/generated/instructions/auctioneerExecuteSale.ts
  auction-house/js/src/generated/instructions/executePartialSale.ts
  auction-house/js/src/generated/instructions/executeSale.ts
Owners: @ohaddahan, @kespinola

Add pNFT support to Auction House (#1030)
  .github/actions/build-program/action.yml
  auction-house/js/idl/auction_house.json
  auction-house/js/package-lock.json
  auction-house/js/src/generated/instructions/cancelRemainingAccounts.ts
  auction-house/js/src/generated/instructions/executeSaleRemainingAccounts.ts
  auction-house/js/src/generated/instructions/index.ts
  auction-house/js/src/generated/instructions/sellRemainingAccounts.ts
  auction-house/js/yarn.lock
  auction-house/program/Cargo.lock
  auction-house/program/Cargo.toml
  auction-house/program/src/cancel/mod.rs
  auction-house/program/src/execute_sale/mod.rs
  auction-house/program/src/lib.rs
  auction-house/program/src/sell/mod.rs
  auction-house/program/tests/cancel.rs
  auction-house/program/tests/execute_sale.rs
  auction-house/program/tests/sell.rs
  auction-house/program/tests/utils/helpers.rs
  auction-house/program/tests/utils/setup_functions.rs
  auctioneer/program/Cargo.lock
  auctioneer/program/tests/execute_sale.rs
  core/rust/testing-utils/Cargo.lock
  core/rust/testing-utils/Cargo.toml
  core/rust/testing-utils/src/utils/metadata.rs
  fixed-price-sale/program/Cargo.lock
Owners: @metaplex-foundation/protocol, @ohaddahan, @kespinola

Add (un-)verify deails
  token-metadata/program/ProgrammableNFTGuide.md
Owners: @metaplex-foundation/protocol

Update instructions offset
  token-metadata/program/ProgrammableNFTGuide.md
Owners: @metaplex-foundation/protocol

Add (un-)verify instruction details (#1048)
  token-metadata/program/ProgrammableNFTGuide.md
Owners: @metaplex-foundation/protocol

(cargo-release) version 1.4.0
  auction-house/program/Cargo.lock
  auction-house/program/Cargo.toml
Owners: @ohaddahan, @kespinola

chore: update @metaplex-foundation/mpl-auction-house to v2.4.0
  auction-house/js/package.json
Owners: @ohaddahan, @kespinola

chore: update @metaplex-foundation/mpl-auction-house to v2.5.0
  auction-house/js/package.json
Owners: @ohaddahan, @kespinola

Merge pull request from GHSA-hgfm-qrw5-68qm
  token-metadata/program/src/assertions/programmable.rs
  token-metadata/program/src/error.rs
  token-metadata/program/src/processor/burn/burn.rs
  token-metadata/program/src/processor/mod.rs
  token-metadata/program/tests/burn.rs
Owners: @metaplex-foundation/protocol

chore: Release
  token-metadata/Cargo.lock
  token-metadata/program/Cargo.toml
Owners: @metaplex-foundation/protocol

bump JS version
  token-metadata/js/idl/mpl_token_metadata.json
  token-metadata/js/package.json
  token-metadata/js/src/generated/errors/index.ts
Owners: @metaplex-foundation/protocol

Update instruction info
  candy-machine-core/js/idl/candy_machine_core.json
  candy-machine-core/js/src/generated/instructions/initializeV2.ts
  candy-machine-core/js/src/generated/instructions/mintV2.ts
  candy-machine-core/js/src/generated/instructions/setCollectionV2.ts
  candy-machine-core/js/src/generated/instructions/setTokenStandard.ts
  candy-machine-core/program/README.md
  candy-machine-core/program/src/instructions/initialize_v2.rs
  candy-machine-core/program/src/instructions/set_collection_v2.rs
  candy-machine-core/program/src/instructions/set_token_standard.rs
Owners: @metaplex-foundation/protocol

Add helper to get rule set
  candy-machine-core/program/src/constants.rs
  candy-machine-core/program/src/instructions/mint_v2.rs
  candy-machine-core/program/src/state/candy_machine.rs
Owners: @metaplex-foundation/protocol

Bump program version
  candy-machine-core/js/package.json
  candy-machine-core/program/Cargo.lock
  candy-machine-core/program/Cargo.toml
Owners: @metaplex-foundation/protocol

Bump program version on IDL
  candy-machine-core/js/idl/candy_machine_core.json
Owners: @metaplex-foundation/protocol

chore: update @metaplex-foundation/mpl-candy-machine-core to v0.2.1
  candy-machine-core/js/package.json
Owners: @metaplex-foundation/protocol

remove old CLI
  token-metadata/Cargo.lock
  token-metadata/Cargo.toml
  token-metadata/cli/Cargo.toml
  token-metadata/cli/src/main.rs
Owners: @metaplex-foundation/protocol
